body {
  background: rgb(181, 235, 218);
}

a {
  color:#204134;
}

.App-header {
  margin: 30px 0;
}

.app-logo {

  max-width: 200px;
  display: block;
  margin: 0 auto;
  
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}